{
  "env": {
    "development": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ],
      "plugins": [
        "transform-import-bangtext-node",
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ],
        "@babel/plugin-proposal-optional-chaining",
        [
          "module-resolver", {
            "root": ["."],
            "alias": {
              "react": "preact-compat",
              "react-dom": "preact-compat"
            }
          }
        ]
      ]
    },
    "client": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "es2015": {
              "modules": false
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-external-helpers",
        "@babel/plugin-proposal-optional-chaining",
        [
          "module-resolver", {
            "root": ["."],
            "alias": {
              "react": "preact-compat",
              "react-dom": "preact-compat"
            }
          }
        ]
      ]
    }
  }
}
