<!-- src="https://uploads.guim.co.uk/2020/03/09/vote-sign.png" -->

<div class="us-election-timeline">
  <div class="us-election-timeline__header">
    <h1 class="us-election-timeline__headline">
      <span>US Election / </span>Key events
    </h1>
    <div class="us-election-timeline__line"></div>
  </div>
  <div class="scroll-wrapper">
    <div class="us-election-timeline__items">
      <!-- historical -->
      <div class="us-election-timeline__item event-historial">
        <h2 class="us-election-timeline__item__date">
          3 February
        </h2>
        <h3 class="us-election-timeline__item__headline">
          Iowa caucus
        </h3>
        <p class="us-election-timeline__item__para">
          Pete Buttigieg narrowly wins the Iowa caucuses from Bernie Sanders,
          but it is over-shadowed by a fiasco collating the votes
        </p>
        <div class="us-election-timeline__item__link">
          <a
            href="https://www.theguardian.com/us-news/2020/feb/04/iowa-results-winner-pete-buttigieg-leading"
            target="_parent"
            data-link-name="us election timeline : article 1"
          >
            Pete Buttigieg holds early lead in Iowa caucuses after chaos over
            results
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 53 53"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="26.5" cy="26.5" r="26.5" fill="#2a4b9b" />
              <path
                d="M10.3301 28.0909H36.4096L26.1824 40.3295L27.5119 41.6591L41.7278 27.4091V26.0454L27.5119 11.7954L26.1824 13.125L36.4096 25.3636H10.3301V28.0909Z"
                fill="white"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="us-election-timeline__item event-historial">
        <h2 class="us-election-timeline__item__date">
          5 February
        </h2>
        <h3 class="us-election-timeline__item__headline">
          Trump acquited
        </h3>
        <p class="us-election-timeline__item__para">
          Trump's impeachment trail ends in acquittal, leaving him free to run
          again in November
        </p>
        <img
          class="us-election-timeline__item__img"
          src="https://uploads.guim.co.uk/2020/03/06/donald-trump-2.png"
        />
        <div class="us-election-timeline__item__link">
          <a
            href="https://www.theguardian.com/us-news/2020/feb/05/donald-trump-acquitted-senate-impeachment-trial"
            target="_parent"
            data-link-name="us election timeline : article 2"
          >
            Trump impeachment: president acquitted on both articles
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 53 53"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="26.5" cy="26.5" r="26.5" fill="#2a4b9b" />
              <path
                d="M10.3301 28.0909H36.4096L26.1824 40.3295L27.5119 41.6591L41.7278 27.4091V26.0454L27.5119 11.7954L26.1824 13.125L36.4096 25.3636H10.3301V28.0909Z"
                fill="white"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="us-election-timeline__item event-historial">
        <h2 class="us-election-timeline__item__date">
          22 February
        </h2>
        <h3 class="us-election-timeline__item__headline">
          Sanders wins Nevada
        </h3>
        <p class="us-election-timeline__item__para">
          A big victory for Bernie Sanders in the Nevada caucus propels the
          senator into an early lead
        </p>
        <img
          class="us-election-timeline__item__img"
          src="https://uploads.guim.co.uk/2020/03/06/bernie-sanders.png"
        />
        <div class="us-election-timeline__item__link">
          <a
            href="https://www.theguardian.com/us-news/2020/feb/22/nevada-caucuses-bernie-sanders-elizabeth-warren-diverse"
            target="_parent"
            data-link-name="us election timeline : article 3"
          >
            Nevada caucuses: Bernie Sanders wins in resounding victory
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 53 53"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="26.5" cy="26.5" r="26.5" fill="#2a4b9b" />
              <path
                d="M10.3301 28.0909H36.4096L26.1824 40.3295L27.5119 41.6591L41.7278 27.4091V26.0454L27.5119 11.7954L26.1824 13.125L36.4096 25.3636H10.3301V28.0909Z"
                fill="white"
              />
            </svg>
          </a>
        </div>
      </div>
      <div class="us-election-timeline__item event-historial">
        <h2 class="us-election-timeline__item__date">
          29 February
        </h2>
        <h3 class="us-election-timeline__item__headline">
          South Carolina win for Biden
        </h3>
        <p class="us-election-timeline__item__para">
          A huge win for Joe Biden re-energises his campaign, and sparks
          drop-outs from Buttigieg and Amy Klobuchar. Both endorse Biden
        </p>
        <!-- <img
          class="us-election-timeline__item__img"
          src="https://uploads.guim.co.uk/2020/03/06/joe-biden.png"
        /> -->
        <div class="us-election-timeline__item__link">
          <a
            href="https://www.theguardian.com/us-news/2020/mar/01/super-tuesday-biden-sanders-south-carolina-buttigieg-bloomberg"
            target="_parent"
            data-link-name="us election timeline : article 4"
          >
            Super Tuesday: Biden sets up Sanders showdown with South Carolina
            win
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 53 53"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="26.5" cy="26.5" r="26.5" fill="#2a4b9b" />
              <path
                d="M10.3301 28.0909H36.4096L26.1824 40.3295L27.5119 41.6591L41.7278 27.4091V26.0454L27.5119 11.7954L26.1824 13.125L36.4096 25.3636H10.3301V28.0909Z"
                fill="white"
              />
            </svg>
          </a>
        </div>
      </div>

      <div class="us-election-timeline__item event-historial">
        <h2 class="us-election-timeline__item__date">
          3 March
        </h2>
        <h3 class="us-election-timeline__item__headline">
          Super Tuesday
        </h3>
        <p class="us-election-timeline__item__para">
          The largest day of voting so far sees Biden gain a series of
          victories, pushing him back to be front-runner
        </p>
        <img
          class="us-election-timeline__item__img"
          src="https://uploads.guim.co.uk/2020/03/06/joe-biden.png"
        />
        <div class="us-election-timeline__item__link">
          <a
            href="https://www.theguardian.com/us-news/2020/mar/03/super-tuesday-democrats-bernie-sanders-biden-bloomberg-warren"
            target="_parent"
            data-link-name="us election timeline : article 5"
          >
            Super Tuesday: Biden sweeps southern states as Sanders wins
            California
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 53 53"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="26.5" cy="26.5" r="26.5" fill="#2a4b9b" />
              <path
                d="M10.3301 28.0909H36.4096L26.1824 40.3295L27.5119 41.6591L41.7278 27.4091V26.0454L27.5119 11.7954L26.1824 13.125L36.4096 25.3636H10.3301V28.0909Z"
                fill="white"
              />
            </svg>
          </a>
        </div>
      </div>

      <div class="us-election-timeline__item event-historial">
        <h2 class="us-election-timeline__item__date">
          4 March
        </h2>
        <h3 class="us-election-timeline__item__headline">
          Bloomberg quits
        </h3>
        <p class="us-election-timeline__item__para">
          A brief and expensive campaign ends in failure for the billionaire
          Mike Bloomberg
        </p>
        <div class="us-election-timeline__item__link">
          <a
            href="https://www.theguardian.com/us-news/2020/mar/04/mike-bloomberg-quits-2020-primary-race-democrats"
            target="_parent"
            data-link-name="us election timeline : article 6"
          >
            Mike Bloomberg quits 2020 race after spending more than $500m
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 53 53"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="26.5" cy="26.5" r="26.5" fill="#2a4b9b" />
              <path
                d="M10.3301 28.0909H36.4096L26.1824 40.3295L27.5119 41.6591L41.7278 27.4091V26.0454L27.5119 11.7954L26.1824 13.125L36.4096 25.3636H10.3301V28.0909Z"
                fill="white"
              />
            </svg>
          </a>
        </div>
      </div>

      <!-- future -->
      <div class="us-election-timeline__item event-future">
        <h2 class="us-election-timeline__item__date">
          10 March
        </h2>
        <h3 class="us-election-timeline__item__headline">
          'Big' Tuesday
        </h3>
        <p class="us-election-timeline__item__para">
          Michigan, Washington, Mississippi, Missouri, Idaho and North Dakota
          vote. Sanders needs to repeat 2016 Michigan victory to keep pace with
          Biden
        </p>
      </div>

      <div class="us-election-timeline__item event-future">
        <h2 class="us-election-timeline__item__date">
          17 March
        </h2>
        <h3 class="us-election-timeline__item__headline">
          Florida votes on key night
        </h3>
        <p class="us-election-timeline__item__para">
          Key swing-state Florida holds its primary, alongside Illinois, Ohio
          and Arizona
        </p>
      </div>

      <div class="us-election-timeline__item event-future">
        <h2 class="us-election-timeline__item__date">
          24 April
        </h2>
        <h3 class="us-election-timeline__item__headline">
          New York votes in big day for primaries
        </h3>
        <p class="us-election-timeline__item__para">
          Primaries in New York, Pennsylvania and Maryland and 3 other states
          offer 663 more delegates
        </p>
      </div>

      <div class="us-election-timeline__item event-future">
        <h2 class="us-election-timeline__item__date">
          6 June
        </h2>
        <h3 class="us-election-timeline__item__headline">
          The final Democrat primary
        </h3>
        <p class="us-election-timeline__item__para">
          The US Virgin Islands caucuses are the final contest of the primary
          season
        </p>
      </div>

      <div class="us-election-timeline__item event-future">
        <h2 class="us-election-timeline__item__date">
          12 July
        </h2>
        <h3 class="us-election-timeline__item__headline">
          The Democratic National Convention starts
        </h3>
        <p class="us-election-timeline__item__para">
          It will either endorse Joe Biden or Bernie Sanders as their nominee
        </p>
        <img
          class="us-election-timeline__item__img image-tweak-one"
          src="https://uploads.guim.co.uk/2020/03/09/sanders_biden.png"
        />
        <div class="us-election-timeline__item__link"></div>
      </div>

      <div class="us-election-timeline__item event-future">
        <h2 class="us-election-timeline__item__date">
          24 August
        </h2>
        <h3 class="us-election-timeline__item__headline">
          The Republican convention starts
        </h3>
        <p class="us-election-timeline__item__para">
          Trump's nomination as presidential candidate will be rubber-stamped
        </p>
        <img
          class="us-election-timeline__item__img image-tweak-two"
          src="https://uploads.guim.co.uk/2020/03/09/trump-future.png"
        />
        <div class="us-election-timeline__item__link"></div>
      </div>

      <div class="us-election-timeline__item event-future">
        <h2 class="us-election-timeline__item__date">
          29 September
        </h2>
        <h3 class="us-election-timeline__item__headline">
          The first debate
        </h3>
        <p class="us-election-timeline__item__para">
          The first TV debate of the campaign takes place in Indiana
        </p>
      </div>

      <div class="us-election-timeline__item event-future">
        <h2 class="us-election-timeline__item__date">
          3 November
        </h2>
        <h3 class="us-election-timeline__item__headline">
          Election day
        </h3>
        <p class="us-election-timeline__item__para">
          The country goes to the polls
        </p>
        <img
          class="us-election-timeline__item__img image-tweak-three"
          src="https://uploads.guim.co.uk/2020/03/10/us-voting.png"
        />
        <div class="us-election-timeline__item__link"></div>
      </div>

      <div class="us-election-timeline__item event-future">
        <h2 class="us-election-timeline__item__date">
          14 December
        </h2>
        <h3 class="us-election-timeline__item__headline">
          Electoral college meets
        </h3>
        <p class="us-election-timeline__item__para">
          The Electoral College meets. It is the 538 electors who ultimately
          determine the winner, not the popular vote
        </p>
      </div>

      <div class="us-election-timeline__item event-future">
        <h2 class="us-election-timeline__item__date">
          20 January
        </h2>
        <h3 class="us-election-timeline__item__headline">
          Inauguration day
        </h3>
        <p class="us-election-timeline__item__para">
          Either Trump takes the oath for a second time, or the 46th president
          of the US will be taking charge
        </p>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="us-election-timeline__footer">
    <div class="atom--snippet__feedback">
      <div class="atom--snippet__feedback__text hide-message">
        Was this helpful?
      </div>
      <div
        class="atom--snippet__ack nice-message"
        hidden
        aria-role="alert"
        aria-live="polite"
      >
        Thank you for your feedback
      </div>
      <button
        class="atom__button js-thumbs-up atom__button--round hide-message"
        data-link-name="us election timeline : thumbs-up"
        id="feedback-button"
        value="like"
        aria-label="Yes"
      >
        <svg
          class="icon icon--thumb "
          width="100%"
          height="100%"
          viewBox="0 0 40 40"
        >
          <path
            fill="#FFF"
            d="M33.78 22.437l-4.228 13.98L27.93 37.5 5.062 34.14V15.503l7.8-1.517L24.354 2.5h1.624L28.9 5.426l-4.548 8.67h.107l10.477 1.31"
          ></path>
        </svg>
      </button>
      <button
        class="atom__button js-thumbs-down atom__button--round atom--snippet__feedback__dislike hide-message"
        id="feedback-button"
        data-link-name="us election timeline : thumbs-down"
        value="dislike"
        aria-label="No"
      >
        <svg
          class="icon icon--thumb "
          width="100%"
          height="100%"
          viewBox="0 0 40 40"
        >
          <path
            fill="#FFF"
            d="M33.78 22.437l-4.228 13.98L27.93 37.5 5.062 34.14V15.503l7.8-1.517L24.354 2.5h1.624L28.9 5.426l-4.548 8.67h.107l10.477 1.31"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
