<InteractiveTable tableData='{{tableData}}' el='{{el}}' tableTitle='{{tableTitle}}' collapseMobile='{{collapseMobile}}' truncate='{{truncate}}'></InteractiveTable>
<script>
import InteractiveTable from './render.html'
import loadJson from '../load-json/'

export default {
    oncreate() {
          loadJson(this.get("sheet"))
              .then((data) => {
                  this.set({
                      tableTitle: data.sheets.tableMeta[0].title,
                      tableData: data.sheets.tableDataSheet
                  })
              })
        },

        components: {
            InteractiveTable
        }
};
</script>
