{{#if tableData}}
<div class="interactive-table {{serverside ? 'serverside' : ''}} {{collapseMobile ? 'collapse-mobile' : ''}}">
    {{#if tableTitle}}
    <h2>{{tableTitle}}</h2> {{/if}}
    <SearchBox on:searching='filterData(event)'></SearchBox>
    <div class="interactive-table__wrapper">
        <table>
            <thead>
                {{#each headerData as row}}
                <tr>
                    {{#each row as cell}}
                    <th>{{cell}}</th>
                    {{/each}}
                </tr>
                {{/each}}
            </thead>
            <tbody>
                {{#each bodyData as row}}
                <tr class="{{row.hide ? 'hidden' : ''}}">
                    {{#each row as cell}}
                    <td data-header="{{cell.headerName}}">{{cell.content}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{#if truncate}}
            <button class="interactive-table__button" on:click='untruncate(event)'>
                <svg width="18" height="18" viewBox="0 0 18 18" class="inline-plus__svg inline-icon__svg">
                    <path d="M8.2 0h1.6l.4 7.8 7.8.4v1.6l-7.8.4-.4 7.8H8.2l-.4-7.8L0 9.8V8.2l7.8-.4.4-7.8z"></path>
                </svg>
                View all
            </button>
        {{/if}}
    </div>
</div>
{{/if}}
<script>
import SearchBox from './searchBox.html'

export default {
    oncreate() {
            this.observe("tableData", tableData => {
                if (tableData && tableData.length) {
                    //remove serverside rendered table, if it exists
                    //TO DO: replace this with something cleaner
                    if (!this.get("serversideRemoved")) {
                        if (this.get("el") && this.get("el").querySelector(".serverside")) {
                            let serversideTable = this.get("el").querySelector(".serverside");
                            serversideTable.remove();
                        }

                        this.set({
                            "serversideRemoved": true
                        })
                    }
                }
            })
        },
        computed: {
            headerData: (tableData, truncate) => formatTableData(tableData, truncate).header,
            bodyData: (tableData, truncate) => formatTableData(tableData, truncate).body
        },

        components: {
            SearchBox
        },

        methods: {
            filterData(event) {
                let searchText = event.event.target.value;

                let filteredData = this.get("tableData").map((r) => {
                    r.hide = true;
                    r.forEach((c) => {
                        if (c.toLowerCase().indexOf(searchText.toLowerCase()) > -1) {
                            r.hide = false;
                        }
                    });
                    return r;
                });

                this.set({
                    tableData: filteredData
                });
            },
            untruncate(event) {
                this.set({
                    truncate: false
                });
            }
        }
}

function formatTableData(tableData, truncate) {
    if (!tableData) {
        return {
            header: [],
            body: []
        }
    }

    let header = tableData.slice(0, 1).map((d) => d.map(c => c.replace(/\[bold\]/g, "")));
    let body = (truncate) ? tableData.slice(1, truncate + 1) : tableData.slice(1);

    body = body.map((b) => {
        let hide = b.hide;
        b = b.map((c, i) => {
            return {
                headerName: header[0][i],
                content: c
            }
        });
        b.hide = hide;
        return b;
    });

    return {
        header,
        body
    }
}
</script>
<style>
.hidden {
    display: none;
}
</style>
