// .interactive-table {
.interactive-table {
    @include fs-textSans(2);
    h2 {
        @include fs-header(2);
        padding-bottom: 6px;
    }
    input {
        @include fs-textSans(3);
        border: 1px solid #eaeaea;
        border-radius: 20px;
        height: 36px;
        padding-left: 12px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 12px;
    }
    table {
        margin-top: 12px;
        margin-bottom: 24px;
        
        @include fs-textSans(2);
        // line-height: 14px;
        th,
        td {
            padding-right: 10px;
            vertical-align: top;
        }
        th {
            padding-bottom: 3px;
            padding-top: 6px;
            border-bottom: 1px solid #000;
            position: -webkit-sticky;
            position: -moz-sticky;
            position: -ms-sticky;
            position: -o-sticky;
            position: sticky;
            top: 0;
            background-color: #fff;
        }
        thead {
            background-color: #fff;
            z-index: 2;
        }
        tbody {}
        td {
            padding: 6px 0px 4px;
            border-bottom: 1px solid #f6f6f6;
        }
    }
    &.collapse-mobile table {
        // mobile stuff
        @include mq($until: tablet) {
            thead {
                display: none;
            }
            tr {
                border-top: 1px solid #eaeaea;
                // background-color: #f6f6f6;
                margin-bottom: 12px;
                display: block;
                box-sizing: border-box;
            }
            td {
                display: block;
                width: 100%;
                display: inline-block;
                border-bottom: 1px solid #f6f6f6;
                padding: 4px 0 2px;
                &::before {
                    content: attr(data-header);
                    width: 50%;
                    display: inline-block;
                    vertical-align: top;
                    color: #767676;
                    padding-right: 10px;
                    box-sizing: border-box;
                }
                &:first-of-type {
                    @include fs-header(1);
                    padding-bottom: 4px;
                    &::before {
                        content: none;
                        width: 0;
                    }
                }
                &:last-of-type {
                    border: 0;
                    padding-bottom: 4px;
                }
            }
        }
    }
}

.interactive-table__button {
    background-color: #005689;
    height: 32px;
    color: #fff;
    border-radius: 24px;
    border: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.2;
    padding-left: 32px;
    padding-right: 10px;
    // padding-bottom:
    position: relative;
    margin-top: -12px;

    svg {
        fill: #fff;
        width: 1.125rem;
        height: 1.125rem;
        vertical-align: middle;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0.4375rem;
        margin: auto;
    }
}
