<div class="i-wrapper">
    {{> header}}
    <div class="i-main">
        {{#body.blocks}}
            {{#copy}}
                {{#text}}
                    <p>{{{.}}}</p>
                {{/text}}
            {{/copy}}
        {{/body.blocks}}
        <div class="intro-numbers"></div> 
        <figure class="element element-interactive interactive embed-key" data-interactive="https://interactive.guim.co.uk/embed/iframe-wrapper/0.1/boot.js" data-canonical-url="https://interactive.guim.co.uk/uploader/embed/2019/05/archive-2-zip/giv-39024Xs4ESKWGEDC/" data-alt="online">
            <a href="https://interactive.guim.co.uk/uploader/embed/2019/05/archive-2-zip/giv-39024Xs4ESKWGEDC/">online</a>
            </figure>
    </div>
    <div class="i-related-content">
        {{{relatedContent}}}
    </div>
</div>