<div class="i-wrapper">
    {{> header}}
    <div class="i-main">
        {{#body.blocks}}
            {{#copy}}
                {{#text}}
                    <p>{{{.}}}</p>
                {{/text}}
            {{/copy}}
            {{#graphic}}
                <figure class="element element-interactive interactive weighting--{{weighting}}" data-interactive="https://interactive.guim.co.uk/embed/iframe-wrapper/0.1/boot.js" data-canonical-url="{{url}}" data-alt="Parliament restoration graphic">
                    <a href="{{url}}" data-link-name="in body link" class="u-underline"></a>
                </figure>
            {{/graphic}}
            {{#slot}}
                <div class="{{id}}"></div>
            {{/slot}}
        {{/body.blocks}}
    </div>
    <div class="i-related-content">
        {{{relatedContent}}}
    </div>
</div>