<div class="interactive-autoplaying-video">
    <video preload="none" poster="{{poster}}" muted playsinline loop>
        <source src="{{bestSource}}" type="video/mp4">
    </video>
</div>
<script>
export default {
    oncreate() {
        const elWidth = this.get("el").clientWidth;
        let videoSize;

        //primitive video size selection
        if (elWidth > 960) {
            videoSize = "large";
        } else if (elWidth >= 620) {
            videoSize = "medium";
        } else {
            videoSize = "small";
        }

        this.set({
            "bestSource": this.get("sources")[videoSize],
            "videoEl": this.get("el").querySelector("video"),
            "scroll": 0
        })

        this.get("videoEl").load();

        setInterval(() => {
            requestAnimationFrame(checkScroll.bind(this));
        }, 750);

    }
}

function checkScroll() {
    if(this.get("scroll") !== window.pageYOffset) {
        this.set({"scroll": window.pageYOffset});
        const clientRect = this.get("videoEl").getBoundingClientRect();

        if(clientRect.top < window.innerHeight/2 && clientRect.bottom > clientRect.height - 100) {
            this.get("videoEl").play()
        } else {
            this.get("videoEl").pause()
        }
    }
}
</script>