.i-header {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 12px;

    @include mq(desktop) {
        width: 620px;
    }

    @include mq(leftCol) {
        margin-bottom: 0;
        margin-left: 150px;
        padding-left: 20px;
        padding-right: 20px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }
}

.i-header__headline h1 {
    font-family: "Guardian Headline","Guardian Egyptian Web","Guardian Headline Full",Georgia,serif;
    font-weight: 900;
    display: inline;
    padding-bottom: .1em;
    background: linear-gradient(#121212, #121212) no-repeat;
    box-shadow: 10px 0 0 #121212, -10px 0 0 #121212;
    color: #fff;
    font-size: 50px;
    line-height: 1.34;

    @include mq($until: tablet) {
        font-size: 36px;
    }
}

.i-header__standfirst p {
    @include fs-headline(3);
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
    color: #767676;
    margin-top: 24px;
    margin-bottom: 6px;
    max-width: 540px;
    margin-bottom: 24px;

    @include mq($until: tablet) {
        font-size: 18px;
        line-height: 22px;
    }
}

.i-header__meta {
    background-image: repeating-linear-gradient(to bottom, #dcdcdc, #dcdcdc 0.0625rem, transparent 0.0625rem, transparent 0.25rem);
    background-repeat: repeat-x;
    background-position: top;
    background-size: 0.0625rem 0.8125rem;
    padding-top: 14px;
    box-sizing: border-box;

    @include mq(leftCol) {
        width: 130px;
        position: absolute;
        left: -140px;
    }

    @include mq(wide) {
        width: 230px;
        position: absolute;
        left: -230px;
    }
}

.i-header__meta__byline {
    margin: 0;
    line-height: 1.35;
    margin-bottom: 4px;
    a {
        color: $news-red;
        @include fs-header(1);
        font-size: 17px;
    }
}

.i-header__meta__byline-wrapper {
    line-height: 10px;
    span::after {
        content: ',';
        font-weight: normal;
        font-style: italic;
    }

    &:nth-last-of-type(2) {
        span::after {
            content: ' and ';
        }
    }

    &:last-of-type {
        span::after {
            content: '';
        }
    }
}

.i-header__meta__dateline {
    time {
        color: #767676;
        @include fs-textSans(1);
    }
    @include fs-textSans(1);
    margin: 0;
    margin-bottom: 4px;
}

.i-header__meta__shares {
    margin: 0;
    padding-top: 6px; 
}

.i-header__top-tag {
    height: 28px;
    margin-top: 6px;
    a {
        @include fs-header(4);
        color: #fff;
        background-color: #c70000;
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 2px;
        position: absolute;
        left: 0px;
        @include mq(leftCol) {
            left: 10px;
        }
        @include mq(wide) {
        }

        @include mq($until: tablet) {
            @include fs-header(2);
            top: 4px;
        }
    }
}

//shares
.od-share {
    z-index: 2;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    display: block;
}

.od-share__button {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    float: left;
    margin-right: 4px;
    border: 1px solid #dcdcdc; 

    &:hover {
        background-color: $news-red;

        .od-share__icon {
            fill: $neutral-100;
        }
    }
}

.od-share__icon {
    fill: $news-red;
    width: 100%;
    height: 100%;
    margin: auto;
}

.i-header__meta__shares {
    display: block;
    border-top: 1px solid #dcdcdc;
}