@import "mq";
@import "fonts";

// Uncomment for embeds
@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}


@import "mq";
@import "fonts";


$cdu : #333;
$cducsu : #333;
$csu : #333;
$spd : #c5230e;
$linke: #7e39a5;
$green : #298422;
$afd : #8f4000;
$fpd: #ffce4b;
$fdp: #ffce4b;
$others: #667488;
$undeclared: #efefec;

// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.gv-elex-wrapper {
    max-width: 740px;
    display: block;

    @include mq(leftCol) {
        margin-left: 160px;
    }

    @include mq(wide) {
        margin-left: 240px;
    }

}

.gv-chamber {
    margin-top: 20px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.gv-chamber-graph {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.gv-elex-label {
    position: absolute;
    top: 65px;
    color: white;
    padding-left: 2px;
    &.gv-minor {
        @include mq($until: tablet) {
            display: none;
        }
    }
    @include fs-textSans(4);
    font-weight: bold;
}

.gv-chamber-labels {
    width: 100%;
    margin-bottom: 100px;
}

.gv-banner {
    background: url('<%= path %>/assets/architrave.png') no-repeat center bottom;
    height: 64px;
}

.gv-halfway-marker {
    height: 10px;
    width: 1px;
    background-color: #000;
    left: 50%;
    position: relative;
    top: 46px;
    z-index: 1;
}

.gv-halfway-label {
    text-align: center;
    width:50px;
    margin-left: calc(50% - 25px);
    margin-top: 20px;
    @include fs-data(3);
    position: relative;
    top: 9px;
}


.gv-elex-bar {
    height: 50px;
    .gv-2013 & {
        height:20px;
    }
    display: inline-block;
    float:left;
    margin: 0 !important;
    &.gv-CDU-CSU {background-color: $cdu;}
    &.gv-cducsu {background-color: $cdu;}
    &.gv-CSU {background-color: $csu;}
    &.gv-spd {background-color: $spd;}
    &.gv-linke {background-color: $linke;}
    &.gv-dielinke {background-color: $linke;}
    &.gv-grüne {background-color: $green;}
        &.gv-afd {background-color: $afd;}
    &.gv-fdp {background-color: $fdp;}

    box-sizing: border-box;
}

.gv-elex-labels {
    margin-top: 60px;
}

svg {
    width: 100%;
}

.gv-fe-tooltip {
    display: none;
    background-color: white;
    color: black;
    @include fs-data(2);
    padding: 3px 5px;
    transition: opacity 0.4s;
    box-shadow: 0 0.2rem 1rem -0.4rem black;
    border: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
}

.gv-elex-map {
    vertical-align: top;
    margin-top: 20px;
    display: inline-block;
    width: 49%;
    @media (max-width: 600px)
    {
        display: block;
        width: 100%;
    }
}

.gv-elex-subtitle {
    margin-top: 0px;
    @include fs-textSans(3);
    line-height: 1;
}

.gv-elex-map-gloss, .gv-gloss {
    margin-top: 20px;
    @include fs-textSans(3);
    padding-right: 5em;
}

.gv-elex-map-graphic {
    margin-left: 20px;
    margin-right: 20px;
    height: 465px;
}

.gv-elex-map-graphic svg {
    height: 100%;
}

.gv-elex-map-graphic path {
    stroke:  white;
    stroke-width: 1px;
    fill: $undeclared;
}

.gv-elex-map-graphic line {
    stroke: #333333 !important;
}

.gv-constituency path {
    &.gv-const-winner-CDU { fill: $cdu}
    &.gv-const-winner-CSU { fill: $csu}
    &.gv-const-winner-SPD { fill: $spd}
    &.gv-const-winner-linke { fill: $linke}
    &.gv-const-winner-greens { fill: $green}
    &:hover {opacity: 0.8}
}

.gv-spd-share path {
        fill: $spd;
        &.gv-spd-band-1 {opacity: 0.4}        
        &.gv-spd-band-2 {opacity: 0.6}        
        &.gv-spd-band-3 {opacity: 0.8}        
        &.gv-spd-band-4 {opacity: 1}
          &:hover {stroke-width:3px;}                
}
.gv-afd-share path {
        fill: $afd;
        &.gv-afd-band-1 {opacity: 0.4}        
        &.gv-afd-band-2 {opacity: 0.6}        
        &.gv-afd-band-3 {opacity: 0.8}        
        &.gv-afd-band-4 {opacity: 1}
          &:hover {stroke-width:3px;}                
}

.gv-cdu-share path {
    fill: $cdu;
    &.gv-cdu-band-1 {opacity: 0.4}        
    &.gv-cdu-band-2 {opacity: 0.6}        
    &.gv-cdu-band-3 {opacity: 0.8}        
    &.gv-cdu-band-4 {opacity: 1}
      &:hover {stroke-width:3px;}                
}

.gv-spd-change path {
    fill: $spd;
    &.gv-spd-change-band-1 {opacity: 0.4}        
    &.gv-spd-change-band-2 {opacity: 0.6}        
    &.gv-spd-change-band-3 {opacity: 0.8}        
    &.gv-spd-change-band-4 {opacity: 1}
      &:hover {stroke-width:3px;}                
}



.gv-elex-map-graphic text {
    @include fs-data(3);
    font-size: 24px;
}

.gv-elex-title {
    @include fs-header(3);
    padding-bottom: 0px;
    line-height: 1;
}

.gv-blobs {
    clear: both;
}

.gv-legend-entry {
    display: inline-block;
    @include fs-textSans(3)
}

.gv-results-table {
    margin-top: 30px;
    display: table;
    width: 100%;
    @include fs-textSans(3);
    border-collapse: separate;
    border-spacing: 4px;
    @media(max-width: 400px) {
        @include fs-textSans(2);
    }

}



.gv-results-table-row {
    display: table-row;
    margin-bottom: 10px;
}

.gv-results-table-cell {
    display: table-cell;
    &.gv-table-numbers {
        text-align:right;
    }
}

.gv-results-table-headers{
    display: table-header-group;
    font-weight: bolder;
}

.gv-party-blob{
    margin-right: 3px;
    height: 1em;
    width: 1em;
    border-radius: 0.2em;
    &.gv-CDU-CSU {background-color: $cdu;}
    &.gv-cducsu {background-color: $csu;}
    &.gv-spd {background-color: $spd;}
    &.gv-fdp {background-color: $fdp;}
    &.gv-fpd {background-color: $fdp;}
    &.gv-afd {background-color: $afd;}
    &.gv-dielinke {background-color: $linke;}
    &.gv-grüne {background-color: $green;}
    &.gv-Green {background-color: $green;}
    &.gv-Others {background-color: $others;}
    
}




.gv-elex-legend-blobs, .gv-elex-legend-labels {
    line-height: 1;
}

.gv-elex-legend-labels div, .gv-elex-leader-labels div {
    line-height: 1;
    display: inline-block;
    float: left;
    text-align: center;
    @include fs-data(1);
}

.gv-elex-legend-labels div {
    width:30px;
    margin-right: 4px;
}


.gv-elex-leader-labels div {
    margin: 0px 3px 0px 2px;
    @include fs-data(2);
}

.gv-elex-legend {
    padding-bottom: 10px;
}


.gv-elex-legend-blob {
    line-height: 1;
    display: inline-block;
    height: 10px;
    width: 30px;
    position: relative;
    .gv-spd-share & {
        background-color: $spd;
    }
        .gv-afd-share & {
        background-color: $afd;
    }

    .gv-cdu-share & {
        background-color: $cdu;
    }

    .gv-constituency &{
        background-color: white;
    }

    &.gv-spd-band-1  { opacity: 0.4   }
    &.gv-spd-band-2  { opacity: 0.6   }
    &.gv-spd-band-3  { opacity: 0.8   }
    &.gv-spd-band-4  { opacity: 1   }

    &.gv-afd-band-1  { opacity: 0.4   }
    &.gv-afd-band-2  { opacity: 0.6   }
    &.gv-afd-band-3  { opacity: 0.8   }
    &.gv-afd-band-4  { opacity: 1   }

    &.gv-cdu-band-1  { opacity: 0.4   }
    &.gv-cdu-band-2  { opacity: 0.6   }
    &.gv-cdu-band-3  { opacity: 0.8   }
    &.gv-cdu-band-4  { opacity: 1   }

}

.gv-coalition-bars-wrapper {
    width: 100%;
    display: block;
    background-color: lightgrey;
    height: 10px;

    .gv-elex-bar {
        height: 10px;
    }
}


.gv-coalition-name {
    margin-top: 20px;
    @include fs-textSans(4);
    max-width: 45%;

}

.gv-coalition-name:first-of-type {
    margin-top: 0px;
}

.gv-coalitions-outer-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

.gv-undeclared {
    fill: $undeclared !important;
}

.gv-coalitions-gloss {
    margin-top: 30px;
}

.gv-coalitions-wrapper {
    position: relative;
    .gv-halfway-marker {
    height: 90%;
    width: 1px;
    background-color: #000;
    left: 50%;
    position: absolute;
    /* top: 300px; */
    z-index: 1;
}
    .gv-halfway-label {
        top: 0px;
        margin-top: 0px;
}
}